<h1>Join the Club</h1>

<form method="POST" action="/join">
    <label>Secret passcode</label>
    <input type="password" name="passcode" required />
    <button type="submit">Join</button>
    <br />
    <small>*the passcode is "passcode"</small>
</form>