<h1>New Message</h1>

<form action="POST" action="/messages">
    <div>
        <label>Title</label>
        <input type="text" name="title" required />
    </div>

    <div>
        <label>Message</label>
        <textarea name="content" required></textarea>
    </div>

    <button type="submit">Post</button>
</form>