<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>
<body>
    <h1>Sign up</h1>
    <form action="/signup" method="POST">

        <label>First name:</label>
        <input type="text" name="firstName" required/><br/>

        <label>Last name:</label>
        <input type="text" name="lastName" required/><br/>

        <label>Email:</label>
        <input type="email" name="username" required/><br/>

        <label>Password:</label>
        <input type="password" name="password" required/><br/>

        <label>Confirm Password</label>
        <input type="passwprd" name="confirmPassword" required/><br/>

        <label>Is admin</label>
        <input type="checkbox" name="isAdmin" value="true">
        
        <button type="submit">Sign up</button>
    </form>
</body>
</html>